
.header {
    display: inline;
}

.edit-icon, .trash-icon {
    font-size: 20px;
}

.main {
    margin: 0 auto;
    width: 900px;
    //border: 1px solid gray;
    padding: 5px;
    margin-top: 20px;
    max-width: 100%;
}

.container{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    //border: 1px solid grey;
    padding-right: 5px;
    margin-bottom: 10px;
}

.box-1 {
    flex: 8;
    //border: 1px solid gray;
}

.box-2 {
    flex: 1; 
    display: flex;
    //border: 1px solid gray;
}

.icon1{
    flex: 1;
}
.icon2{
    flex: 1;
}

.outer {
    text-align: center;
    
  }



a {
    text-decoration: none;
    color: #15709c;
}

a:hover {
    text-decoration: underline;
    color: rgba(4, 64, 228, 0.52);
}

select {
    margin-left: 36%;
    width: 147px;
    height: 37px;
    background-color: white;
    font-size: 25px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid #0484aa99;
    color: #046380;
    outline: none;
    background-image: none;
    -webkit-appearance: none;
}

@media (max-width: 650px) {

    select {margin-left: 10%;}
    .edit-icon, .trash-icon {
        font-size: 20px;
    }

}



@media (max-width: 440px) {

    .edit-icon {
        font-size: 30px;
    }
    
    .trash-icon {
        display: none;
    }    

}

@media (max-width: 440px) {

    select {
        width: 100%;
        margin: 0 auto;
    }

    .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .main {
        margin: 0 auto;
        width: 98%;
        //border: 1px solid gray;
        padding: 0;
        margin-top: 20px;
        max-width: 100%;
    }

    .container{
        margin-bottom: 15px;
    }

    

}