<div class="main">
    <div class="header">
        <div>
            <button class="btn" routerLink="/create">create</button>
            
            <select 
 
            (input)="inpSelect($event)" 
            [(ngModel)]="catName"
            >
                <option selected >all</option>
                <option *ngFor="let category of categories">{{ category.title }}</option>
                
            </select>
        </div>
    </div>    <!-- class="header" -->
    <br>
    <div class="list">
        <div class="container" *ngFor="let todo of todos; index as i">
            <div class="box-1">{{i+1}}.<a [routerLink]="['/single-todo', todo._id]"> {{ todo.title }}</a></div>
            <div class="box-2">
                <div class="icon1"><a [routerLink]="['/update', todo._id]"><i class="fas fa-edit edit-icon" ></i></a></div>
                <div class="icon2">
                    <a href="" 
                    onclick="event.preventDefault()"
                    (click)="delete(todo._id)"
                    ><i class="fas fa-trash-alt trash-icon" ></i></a></div>
            </div>
        </div>
    </div>
</div>